@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(171, 171, 171);
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(160, 160, 160);
    border-radius: 0px;
}